*~
build/**
dist/**
samples/**
windows/**
dump.bin
*.yara
*.traits
dump.json
.vscode/**
venv/**
pybinlex.egg-info/**
*.so
*.whl
.idea/
data/**
docker-compose.yml
scripts/**
ssl/**
*.key
config/**
docker-compose.yml
test/**
.ipynb_checkpoints/**
# Apple crap
.DS_Store
.AppleDouble
.LSOverride
*.swp
*.swo
*~
