Source: binlex
Section: utils
Priority: optional
Maintainer: <insert maintainer>
Build-Depends: cmake, debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: https://github.com/c3rb3ru5d3d53c/binlex

Package: binlex
Architecture: any
Depends: libbinlex (= ${binary:Version}), libcapstone4,
         ${misc:Depends}, ${shlibs:Depends}
Description: a genetic binary trait lexer utility
 Extract basic blocks and functions as traits from binaries for malware
 research, hunting and detection. Use cases range from (automated) YARA
 signature generation, identification of code reuse, creation of a good- or
 malware trait corpus, genetic programming and ML-based malware detection.

Package: blyara
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: a YARA rule constructor using genetic binary traits
 Construct YARA rules based on genetic binary traits which were extracted
 by binlex.

Package: libbinlex
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: a genetic binary trait lexer library
 Extract basic blocks and functions as traits from binaries for malware
 research, hunting and detection. Use cases range from (automated) YARA
 signature generation, identification of code reuse, creation of a good- or
 malware trait corpus, genetic programming and ML-based malware detection.
